.layout {
  @apply min-h-screen grid;

  grid-template-areas:
          "sidebar header"
          "sidebar content";
  grid-template-columns: auto 1fr; // sidebar - auto, контент - 1fr
  grid-template-rows: auto 1fr;

  aside {
    grid-area: sidebar;
    height: 100vh;
    min-width: 240px;
    max-width: 250px;
    overflow: hidden;
    position: sticky;
    top: 0;
  }

  aside:hover {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  header {
    @apply bg-bg;

    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 50;
  }

  section {
    grid-area: content;
  }
}